<header id='header' class='header'>
<div class = "header-inner">
  <div class="site-brand-wrapper">
    <div class="site-meta">
      <div class="custom-logo-site-title">
        <a href="/" class="brand" rel="start">
          <span class="logo-line-before">
            <i></i>
          </span>
          <span class="site-title">Robin'ssssaas blog</span>
          <span class="logo-line-after">
            <i></i>
          </span>
        </a>
      </div>
      <h1 class="site-subtitle" itemprop="description">一起学点东西～</h1>
    </div>
    <div class="site-nav-toggle" id="site-nav-toggle">
      <button aria-label="Toggle navigation bar">
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
        <span class="btn-bar"></span>
      </button>
    </div>
  </div>
  <nav class="site-nav" style = "display: none;">
    <ul id="menu" class="menu">
      <li class="menu-item menu-item-news">
        <a href="/" rel="section">
          <i class="menu-item-icon fa iconfont icon-bull-horn"></i>
          <br>News
        </a>
      </li>
      <li class="menu-item menu-item-news">
        <a href="/docs/" rel="section">
        <i class="menu-item-icon fa iconfont icon-book"></i>
        <br>Docs</a>
      </li>
      <li class="menu-item menu-item-archives">
        <a href="/archives/" rel="section">
          <i class="menu-item-icon fa iconfont icon-archive"></i>
          <br>Archives
          <span class="badge">
            <%=brief.length %>
          </span>
        </a>
      </li>
      <li class="menu-item menu-item-search">
        <a href="javascript:;" class="popup-trigger">
          <i class="menu-item-icon fa iconfont icon-search"></i>
          <br>Search</a>
      </li>
    </ul>
    <!-- <div class="site-search">
      <div class="popup search-popup local-search-popup">
        <div class="local-search-header clearfix">
          <span class="search-icon">
            <i class="fa fa-search"></i>
          </span>
          <span class="popup-btn-close">
            <i class="fa fa-times-circle"></i>
          </span>
          <div class="local-search-input-wrapper">
            <input
              autocomplete="off"
              placeholder="Searching..."
              spellcheck="false"
              type="text"
              id="local-search-input">
          </div>
        </div>
        <div id="local-search-result"></div>
      </div>
    </div> -->
  </nav>
</div>
</header>
<div id="nav-popup" class="nav-popup">
</div>
<nav class='nav-popup-menu' id='nav-popup-menu'></nav>